<% provide(:title, "About") %>

<h3>About Idol Draft</h3>

<p>
  Idol Draft is a multiplayer fantasy sports game with a Korean pop theme.
  It is loosely based on fantasy sports like football, basketball, baseball, and hockey.
</p>
