<% provide(:title, "Draft List") %>

<h3>Idol Draft Official Rankings</h3>
<p>Current list for test server as of 5.28.2018
</br>
<i>ALDP stands for Average Line Distribution Percentage</i>
</br>
<i>Color coding if-blocks need to be put in a partial</i>
</br>
<i>Color code for group name will be changed to official primary color</i></p>

<%= render partial: "static_pages/draft_table" %>
