<% provide(:title, "Draft List") %>

<h3>Idol Draft Official Idol Rankings</h3>
<p>Current list for test server as of 6.4.2018
</br>
<i>ALDP (Average Line Distribution Percentage) is determined by average of song_1 to song_3</i>

<%= render partial: "static_pages/draft_table" %>
