<% provide(:title, "Group Rankings") %>

<h3>Idol Draft Official Group Rankings</h3>
<p>Current list for test server as of 6.8.2018
</br>
<i>Refer to Idol Rankings for full local ranks</i>

<%= render partial: "static_pages/group_table" %>
