<div class="center jumbotron">
  <img src="https://user-images.githubusercontent.com/13984734/40529731-03ac1adc-5fab-11e8-9a89-0b566ce0d104.png" alt="Idol Draft Logo Black" style="width:396.5px;height:103px;">
  <h2>
    The Korean Pop inspired multiplayer fantasy sports game.
  </h2>

  <img src="https://user-images.githubusercontent.com/13984734/39901010-9a8fd6d2-547a-11e8-96f6-00d593a38820.jpg" alt="Idol Draft Banner" style="width:798px;height:451.5px;">

  </br>
  </br>

  <%= link_to "Quick Play", signup_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Guide", '#', class: "btn btn-lg btn-success" %>
