<div class="center jumbotron">
  <h1>IdolDraft</h1>

  <h2>
    The Korean Pop inspired multiplayer fantasy sports game.
  </h2>
  
  <h3>
    <%=
        require 'roo'
        xlsx = Roo::Excelx.new(Rails.root.join("#{Rails.root}/app/assets/spreadsheets/Idol-Draft-Master-List-5-24.xlsx"))
        xlsx.excelx_value(19,'C')  # should print G.Dragon

    %>
  </h3>
  

  <img src="https://user-images.githubusercontent.com/13984734/39901010-9a8fd6d2-547a-11e8-96f6-00d593a38820.jpg" alt="Stock Photo" style="width:798px;height:451.5px;">

  </br>
  </br>

  <%= link_to "Quick Play", signup_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Guide", '#', class: "btn btn-lg btn-success" %>