<div class="center jumbotron">
  <img src="https://user-images.githubusercontent.com/13984734/40529731-03ac1adc-5fab-11e8-9a89-0b566ce0d104.png" alt="Idol Draft Logo Black" style="width:396.5;height:103px;">
  <h2>
    The Korean Pop inspired multiplayer fantasy sports game.
  </h2>

  <img src="https://pbs.twimg.com/media/DdfNI0GVQAULAgE.jpg:orig" alt="Seulgi and Moonbyul Wallpaper" style="width:640px;height:426.5625px;">

  </br>
  </br>

  <%= link_to "Idol Rankings", draft_list_list_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Line Distributions", '#', class: "btn btn-lg btn-success" %>
