</br>
</br>
<footer class="footer">
  <small>
    <a href="#">Idol Draft</a>
    by <a href="http://adhityavadivel.weebly.com/">Adhitya Vadivel</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://github.com/adhityav/IdolDraft">Repository</a></li>
    </ul>
  </nav>
</footer>
</br>
